* {
    color: #f8f5f0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
h1 {
    text-align: center;
    font-weight: bold;

}

header {
    text-align: center;
    justify-items: center;
    height: 100px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

  
#navbar {
    text-align: center;
}
  
#navbar {
    overflow: hidden;
    background-color: #9CB4D0;
    border-bottom: 15px solid #580114;
}
  
#navbar a {
    display: in-line block;
    color: black;
    text-align: center;
    padding: 20px 24px;
    text-decoration: none;
}
  
#navbar a:hover {
    background-color: #580114;
    color: #f8f5f0;
}


#slider {
	overflow: hidden;
}
#slider figure {
	position: relative;
	width: 100%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
}
#slider figure img {
	float: left;
	width: 33%;
}

@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
}


  

footer {
    background-color: #9CB4D0;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #000002;
    font-weight: 400;
    padding-right: 10px;
    font-style: italic;
    overflow-x: hidden;
}
  
footer a {
    color: #000002;
    text-decoration: none;
    float: right;
}
  
footer a:hover {
    text-decoration: underline;
    color: #f8f5f0;
}