header {
    text-align: center;
    color: #f8f5f0;
}
  
#navbar {
    text-align: center;
}
  
#navbar {
    overflow: hidden;
    background-color: #c6aca2;
    border-bottom: 15px solid #580114;
}
  
#navbar a {
    display: in-line block;
    color: black;
    text-align: center;
    padding: 20px 24px;
    text-decoration: none;
}
  
#navbar a:hover {
    background-color: #580114;
    color: #f8f5f0;
}

body {
    
    /*overflow: hidden;*/
    background: #000002;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 350px;
    height: 500px;
}

#container:hover, .card {
    cursor: pointer;
    transform: rotateY(180deg);
    perspective: 800px;
}

.card1 {
    /*height: 100%;
    width: 100%;*/
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.front, .back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
}

.front {
    background-image: url(imagesbioSite/IMG_1431.jpg350x500px);
}

.back {
    background-color: 3a3a3a3;
    transform: rotateY(180deg);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card2 {
    /*height: 100%;
    width: 100%;*/
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.front2, .back2 {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
}

.front2 {
    background-image: url(imagesbioSite/IMG_1438.jpg/350x500px);
}

.back2 {
    background-color: 3a3a3a3;
    transform: rotateY(180deg);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card3 {
    /*height: 100%;
    width: 100%;*/
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.front3, .back3 {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
}

.front3 {
    background-image: url(imagesbioSite/IMG_1321.jpg/350x500px);
}

.back3 {
    background-color: 3a3a3a3;
    transform: rotateY(180deg);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


footer {
    background-color: #c6aca2;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #000002;
    font-weight: 400;
    padding-right: 10px;
    font-style: italic;
    overflow-x: hidden;
}
  
footer a {
    color: #000002;
    text-decoration: none;
    float: right;
}
  
footer a:hover {
    text-decoration: underline;
    color: #f8f5f0;
}