* {
    color: #f8f5f0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
  
#navbar {
    text-align: center;
}
  
#navbar {
    overflow: hidden;
    background-color: #9CB4D0;
    border-bottom: 15px solid #580114;
}
  
#navbar a {
    display: in-line block;
    color: black;
    text-align: center;
    padding: 20px 24px;
    text-decoration: none;
}
  
#navbar a:hover {
    background-color: #580114;
    color: #f8f5f0;
}

  




 


footer {
    background-color: #9CB4D0;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #000002;
    font-weight: 400;
    padding-right: 10px;
    font-style: italic;
    overflow-x: hidden;
}
  
footer a {
    color: #000002;
    text-decoration: none;
    float: right;
}
  
footer a:hover {
    text-decoration: underline;
    color: #f8f5f0;
}