* {
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

.header {
    margin-top: 0;
    height: 150px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../imagesbioSite/erwan-hesry-bokeh.jpg);
}

#VV {
    padding-top: 20px;
    color: rgb(255, 255, 255);
    text-shadow:  1px 5px #0a0101;
    font-size: 100px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
  
#navbar {
    text-align: center;
    font-size: 28px;
}
  
#navbar {
    overflow: hidden;
    background-color: #9CB4D0;
    border-bottom: 15px solid #15273c;
}
  
#navbar a {
    display: in-line block;
    color: black;
    text-align: center;
    padding: 20px 24px;
    text-decoration: none;
}
  
#navbar a:hover {
    background-color: #15273c;
    color: #f8f5f0;
}


.bio {
    min-height: 100%;
    position: relative;
}
figure {
    box-shadow: #070707;
}

section.bio {
    float: left;
    width: 100%;
}

article {
    clear: both;
    overflow: auto;
    width: 100%;
}

h2 {
    margin-top:40px;
    margin-bottom: 40px;
    position: relative;
    float:none;
}



div#about {
    display: inline-block;
    flex: auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    width: 800px;
    text-align: justify;
    margin: 10px;
    padding-right: 20px;
    padding-left: 30px;
    line-height: 1.15;
}

@media screen and (max-width: 767px) {
    div#about {
        width: 78%;
    }
}


#portrait {
    float: left;
    width: 330px;
    height: 360px;
    padding: 5px;
    margin: 20px;
    background-color: #15273c;
    padding-bottom: 40px;
    box-shadow:  0 2px 5px #500101;
}

figcaption {
    font-size: .80em;
    font-style: italic;
    text-align: left;
}

#festival{
    float: right;
    width: 290px;
    height: 400px;
    padding: 20px;
    padding-bottom: 50px;
    margin: 20px;
    margin-bottom: 50px;
    background-color: #15273c;
    box-shadow: 0 2px 5px #500101;
    font-size: 18px;
}


footer {
    background-color: #9CB4D0;
    position: fixed !important;
    bottom: 0;
    width: 100%;
    color: #000002;
    font-weight: 400;
    padding-right: 10px;
    font-style: italic;
}
  
footer a {
    color: #000002;
    text-decoration: none;
    float: right;
}
  
footer a:hover {
    text-decoration: underline;
    color: #f8f5f0;
}