* {
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

.header {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
  
#navbar {
    text-align: center;
}
  
#navbar {
    overflow: hidden;
    background-color: #9CB4D0;
    border-bottom: 15px solid #580114;
}
  
#navbar a {
    display: in-line block;
    color: black;
    text-align: center;
    padding: 20px 24px;
    text-decoration: none;
}
  
#navbar a:hover {
    background-color: #580114;
    color: #f8f5f0;
}


.bio {
    min-height: 100%;
    position: relative;
}
figure {
    box-shadow: #070707;
}

section.bio {
    float: left;
    width: 100%;
}

article {
    clear: both;
    overflow: auto;
    width: 100%;
}

h2 {
    margin-top:40px;
    margin-bottom: 40px;
    position: relative;
    float:none;
}



p {
    font-size: 18px;
    max-width: 100%;
    margin-bottom: 20px;
    text-align: justify;
    margin-left: 10px;
    padding-right: 10px;
}

#portrait {
    float: left;
    width: 272px;
    height: 325px;
    padding: 5px;
    margin: 20px;
    background-color: #41597B;
    padding-bottom: 20px;
    box-shadow:  0 1px 5px #c6aca2;
}

figcaption {
    font-size: .80em;
    font-style: italic;
    text-align: left;
}

#festival{
    float: right;
    width: 255px;
    height: 360px;
    padding: 20px;
    padding-bottom: 50px;
    margin: 20px;
    margin-bottom: 50px;
    box-shadow: 0 1px 5px #c6aca2;
    background-color: #41597B;
    font-size: 18px;
}


footer {
    background-color: #9CB4D0;
    position: fixed !important;
    bottom: 0;
    width: 100%;
    color: #000002;
    font-weight: 400;
    padding-right: 10px;
    font-style: italic;
    overflow-x: hidden;
}
  
footer a {
    color: #000002;
    text-decoration: none;
    float: right;
}
  
footer a:hover {
    text-decoration: underline;
    color: #f8f5f0;
}